<table class="table mt-4">
  <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Created Time</th>
      <th scope="col">Deleted Time</th>
      <th scope="col">Manage</th>
      </tr>
  </thead>
  
  {{#each courses}} 
      <tbody>
          <tr>
          <th scope="row">{{ sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
              <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Restore</a>
              <a href="" class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete permanently</a>
          </td>
          </tr>
      </tbody>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Your trash is empty
            <a href="me/stored-courses">My Courses</a>
          </td>
        </tr>
  {{/each}}
</table>

<form name="delete-course-form" method="POST"></form>  
<form name="restore-course-form" method="POST"></form>  

{{!-- Confirm delete course--}}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Are you sure!?</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        All your information will be delete
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{{!-- cuz only this file uses this script so we can write it here, no need to separate --}}
<script>
  var courseId;
  var exampleModal = document.getElementById('exampleModal')
  var deleteForm = document.forms['delete-course-form']
  var restoreForm = document.forms['restore-course-form']
  var btnDeleteCourse = document.getElementById('btn-delete-course')
  var restoreBtn = document.getElementsByClassName('btn-restore');
  

  if (exampleModal) {
    exampleModal.addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-id attributes
      courseId = button.getAttribute('data-id')
    })
  }

  btnDeleteCourse.onclick = function() {
    deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
    deleteForm.submit()
  }
  
  //Restore btn clicked
  for (var i = 0; i < restoreBtn.length; i++) {
    restoreBtn[i].onclick = function(e) {
      e.preventDefault()
      var courseId = this.dataset.id
      restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
      restoreForm.submit()
    };
  }

</script>